#scoreboard-container {
    background-color: rgba(255, 255, 255, 0.463);
    border-radius: 3px;
    height: fit-content;
    width: 40%;
    padding: 25px;
    flex-direction: row;
}

.score {
    min-width: fit-content;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-container {
    background-color: rgb(26, 216, 249);
    width: fit-content;
}

.icon {
    /* font-size: large; */
    size: 2em;
    font-size: 3em;
    color: white;
}